body {
  background-color: rgb(116, 189, 109);
  padding-top: 100px;
}

h1 {
  color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 18.2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resaltado {
  background-color: rgb(135, 225, 145);
}

h2 {
  color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  text-align: center;
  font-size: 18.2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Inicio de Codigo de barra de navegacion */


  nav {
    position: fixed;
    top: 0; /* Fijar en la parte superior */
    left: 0; /* Fijar en el borde izquierdo */
    width: 100%; /* Ancho completo */
    background-color: #0a361d; /* Color de fondo de la barra de navegación */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    z-index: 1000; /* Asegúrate de que la barra de navegación esté por encima de otros elementos */
    font-family: "Cedarville Cursive", sans-serif;
  }

  nav h1 {
    color: #ffffff;
    font-size: 30px;
    font-family: "Cedarville Cursive", sans-serif;
  }

  ul li {
    display: inline-block;
    padding: 0px 20px;
  }

  a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Cedarville Cursive", sans-serif;
  }

  a:hover{
    color: rgb(235, 235, 235);
  }

  .world-text {
    color: #3ccb5b;
    font-family: "Cedarville Cursive", sans-serif;
  }

/* Fin del Codigo de barra de navegacion */


/* Inicio de Cursor */

body {
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+/Edge */
  user-select: none; /* Estándar */
}

/* Fin de Cursor */


/* Inicio de Cartas */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: flex;
  gap: 25px;
  margin-top: 100px;
}

.card {
  width: 325px;
  background-color: #0a361d;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rbga (0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.6s ease;
}

.card:hover {
  transform: translateY(-20px);
}

.card img {
width: 100%;
height: auto;
object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

.card-button {
  display: inline-block;
  background-color: #3ccb5b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 16px;
}

/* Fin de Cartas */

.main-text {
  font-size: 18.3px;
}

.proposito {
  padding-top: 100px;
  color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 18.3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fin {
  padding: 100px;
}

/* Inicio de Pages */

.pages-title {
  padding-top: 100px;
  color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  font-size: 50px;
  font-family: "Cedarville Cursive", sans-serif;
}

.pages-text {
  padding-top: 15px;
  color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  font-size: 18.3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Fin de Pages */